---
layout: about
---

<header id="top">
  <br /><br />
  <div
    style="
      margin: auto;
      padding: 30px;
      border-radius: 25px;
      width: 80%;
      max-width: 540px;
      background-color: white;
    "
  >
    <img
      src="./avatar.png"
      style="width: 150px; border-radius: 50%; vertical-align: middle"
    />

    <br /><br />

    <div class="wow fadeIn">
      <h1 class="wow fadeIn">Ali Hussain</h1>
      <i class="fa-regular fa-file-lines"></i>
      <br />
      <p class="wow fadeIn">Product x Engineering</p>

      <div class="container" style="line-height: 1.6">
        <div class="row text-center">
          <div class="col-md-12" style="padding: 0">
            <section class="contact">
              <ul>
                {% if site.social-linkedin %}
                <li class="linkedin">
                  <a
                    href="https://linkedin.com/in/{{site.social-linkedin}}"
                    target="_blank"
                    ><i class="fab fa-linkedin fa-fw fa-lg"></i
                  ></a>
                </li>
                {% else %}
                <li class="linkedin">
                  <a href="https://linkedin.com/" target="_blank"
                    ><i
                      class="fab fa-linkedin fa-fw fa-lg"
                      aria-hidden="true"
                    ></i
                  ></a>
                </li>
                {% endif %} {% if site.social-twitter %}
                <li>
                  <a
                    href="https://twitter.com/{{ site.social-twitter }}"
                    target="_blank"
                    ><i
                      class="fab fa-twitter fa-fw fa-lg"
                      aria-hidden="true"
                    ></i
                  ></a>
                </li>
                {% else %}
                <!-- <li>
                  <a href="https://twitter.com/" target="_blank"
                    ><i
                      class="fab fa-twitter fa-fw fa-lg"
                      aria-hidden="true"
                    ></i
                  ></a>
                </li> -->
                {% endif %} {% if site.social-instagram %}
                <li>
                  <a
                    href="https://instagram.com/{{ site.social-instagram }}"
                    target="_blank"
                    ><i
                      class="fab fa-instagram fa-fw fa-lg"
                      aria-hidden="true"
                    ></i
                  ></a>
                </li>
                {% else %}
                <!-- <li>
                  <a href="https://instagram.com/" target="_blank"
                    ><i
                      class="fab fa-instagram fa-fw fa-lg"
                      aria-hidden="true"
                    ></i
                  ></a>
                </li> -->
                {% endif %} {% if site.social-github %}
                <li class="github">
                  <a
                    href="https://github.com/{{site.social-github}}"
                    target="_blank"
                    ><i class="fab fa-github fa-fw fa-lg"></i
                  ></a>
                </li>
                {% else %}
                <li class="github">
                  <a href="https://github.com/" target="_blank"
                    ><i class="fab fa-github fa-fw fa-lg" aria-hidden="true"></i
                  ></a>
                </li>
                {% endif %} {% if site.social-cv %}
                <li class="cv">
                  <a
                    href="https://mirzaalihussain2.github.io/{{site.social-cv}}"
                    target="_blank"
                    ><i class="fa-regular fa-file-lines fa-fw fa-lg"></i
                  ></a>
                </li>
                {% else %}
                <li class="cv">
                  <a href="https://mirzaalihussain2.github.io/" target="_blank"
                    ><i
                      class="fa-regular fa-file-lines fa-fw fa-lg"
                      aria-hidden="true"
                    ></i
                  ></a>
                </li>
                {% endif %} {% if site.social-email %}
                <li class="email">
                  <a href="mailto:{{site.social-email}}"
                    ><i class="far fa-envelope fa-fw fa-lg"></i
                  ></a>
                </li>
                {% else %}
                <li class="email">
                  <a href="mailto:ali@startbook.co.uk"
                    ><i
                      class="far fa-envelope fa-fw fa-lg"
                      aria-hidden="true"
                    ></i
                  ></a>
                </li>
                {% endif %}
              </ul>
            </section>
          </div>
        </div>
      </div>
      <br />
      <p style="text-transform: none; font-weight: bold">
        Junior Software Engineer at
        <a href="http://startbook.co.uk/" target="_blank">⚡ Startbook</a>
      </p>
      <p
        class="d-none d-md-block"
        style="
          text-transform: none;
          font-weight: 300;
          text-align: justify;
          margin: auto;
          width: 86%;
        "
      >
        1+ years experiece as a full stack software engineer and 4 years
        experience in product management. Ali's technical experience and
        interest is in TypeScript, Python, blockchain and databases. He holds a
        BA (Hons) in Philosophy, Politics and Economics from the
        <span style="font-weight: bold"
          ><a href="https://www.ox.ac.uk/" target="_blank"
            >University of Oxford</a
          ></span
        >.
      </p>
      <p
        class="d-block d-md-none"
        style="text-transform: none; font-weight: 300; text-align: center"
      >
        1+ years experiece as a full stack software engineer and 4 years
        experience in product management. Ali's technical experience and
        interest is in TypeScript, Python, blockchain and databases. He holds a
        BA (Hons) in Philosophy, Politics and Economics from the
        <span style="font-weight: bold"
          ><a href="https://www.ox.ac.uk/" target="_blank"
            >University of Oxford</a
          ></span
        >.
      </p>
    </div>
  </div>
  <br /><br />
</header>
